body,
html {
  font-family: 'Lato', sans-serif;
  background-color: #282c34;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.app {
  background-color: #3b3f47;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1c1e22;
  padding: 20px;
  font-size: 2em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.item {
  background-color: #4b4f58;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #5c5f68;
}

.itemZero {
  grid-column: span 2;
}

.clear,
.negative,
.percent,
.sqrt,
.power,
.log,
.ln,
.sin,
.cos,
.tan,
.asin,
.acos,
.atan,
.exp {
  background-color: #ff6f61;
}

.sign {
  background-color: #ffa500;
}

.equals {
  background-color: #32cd32;
}

.switch-button {
  grid-column: span 4;
  background-color: #ffa500;
  color: #fff;
  font-size: 1.2em;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-button:hover {
  background-color: #ff8c00;
}
